- var contentList = env.helpers.getContents(contents, contentType)
- var id = contentType + '-card-list'

div(class="relative mt-3 content card-container", id=id)
  ul(class=" flex flex-none m-0 overflow-x-scroll overflow-y-hidden no-scrollbar")
    li(class="hidden md:block list-none", style="padding-left: calc(50vw - 16rem / 2)")
    each cardItem in contentList
      li(class="p-1 md:p-2 list-none")
        a(href=cardItem.metadata.videoUrl, target="_blank", class="no-border")
          div(class="bg-white rounded-md shadow-md overflow-hidden", style="width: 16rem")
            div(class="h-32 bg-center bg-no-repeat bg-cover", style="background-image: url(" + cardItem.getUrl() + cardItem.metadata.thumbnail + ")")
            div(class="p-4")
              p(class="heading text-lg text-gray-800 pb-3")=cardItem.title
              div(class="text-gray-600 leading-normal")
                | !{cardItem.intro}

  nav(class="absolute right-0 pr-2 text-center")
    a(data-card-direction="left", role="button", class="w-5 h-5 inline-block bg-gray-500 hover:bg-gray-600", href="#" + id)
      span(class="fa fa-chevron-left leading-5 pointer-events-none", aria-hidden="true")
      span.visually-hidden= 'Scroll left'
    a(data-card-direction="right", role="button", class="w-5 h-5 inline-block bg-gray-500 hover:bg-gray-600", href="#" + id)
      span(class="fa fa-chevron-right leading-5 pointer-events-none", aria-hidden="true")
      span.visually-hidden= 'Scroll right'
