extends partials/layout

block vars
  - var bodyclass = 'article';

block prepend title
  | #{ page.title + ' - '}

block body
  article(class="content")

    - var headerstyle = page.metadata.thumb ? "background-image: url('"+ page.metadata.thumb +"');" : ""
    header(class="article-header grid grid--vertical-align grid--horizontal-align",
      style=headerstyle)

        div(class="article-inner text-center")

          div(class="article-meta")
          h1(class="article-title default-wrap")= page.title
          div(class="article-meta")
            span!= moment(page.metadata.date, 'YYYY-MM-DD').format('MMMM Do YYYY')

    section(class="article-content default-wrap")!= typogr(page.html).typogrify()

    include partials/share

    footer(class="footer-article")
      div(class="default-wrap")
        include partials/pagination
        div(class="footer-colophon text-center")
          small
            a(href=contents.index.url, title="Go home") JONATHAN ÁLVAREZ G ©
