extends layout

block vars
  - var bodyclass = 'article';

block prepend title
  | #{ page.title + ' - '}

block body
  article(class="content")

    - var headerstyle = "background-image: url('"+page.metadata.thumb+"');"
    header(class="article-header grid grid--vertical-align grid--horizontal-align",
      style=headerstyle)

        div(class="article-inner text-center")

          div(class="article-meta")
          h1(class="article-title article-wrap")= page.title
          div(class="article-meta")
            span!= moment(page.metadata.date, 'YYYY-MM-DD HH:MM').format('MMMM Do YYYY')

    section(class="article-content article-wrap")!= typogr(page.html).typogrify()

    //- TODO: Add next, prev articles
    //- https://github.com/ndhu/wintersmith-milchglas-template/blob/master/templates/article.jade
    footer(class="article-footer")
      div(class="article-wrap")
        a(href=contents.index.url) &laquo; Full blog
