extends partials/layout

block vars
  - var bodyclass = 'home';

block body
  section.full-page.grid.grid--vertical-align.grid--horizontal-align
    figure.hero.content.default-wrap
      h1.hero-title= locals.name
      figcaption.hero-caption
        p Frontend developer. I build web stuff and <a href="#articles" title="Check my articles">sometimes write about it</a>
        div.hero-links
          a(href="https://github.com/jonalvarezz", title="Check my code", target="_blank")
            i.fa.fa-github
          a(href="https://twitter.com/jonalvarezz", title="Follow me in Twitter", target="_blank")
            i.fa.fa-twitter
          a(href="mailto:j@jonalvarezz.com?subject=Let's%20Work%20Together", title="Email me and let's work together")
            i.fa.fa-envelope

  section(id="articles", class="full-page grid grid--vertical-align grid--horizontal-align")
    div(class="default-wrap content")
      h2 Articles
      p I write about stuff I dont find easily in web for my further reference, maybe it is useful for someone else.

      - var allArticles = env.helpers.getArticles(contents)
      - var allArticlesLength = allArticles.length + 1
      - var first10 = allArticles.slice(0, 10)

      ul(class="article-list")
        - var count = 0
        each article in first10
          - var position = allArticlesLength - count
          li(data-count=(position), class="article-item")
            i= position
            a(href=article.url)= article.title
          - count += 1

      div(class="see-more")
        input(type="checkbox", id="see-all-articles")
        label(for="see-all-articles") See all articles...
        ul(class="article-list")
          - var remainingArticles = allArticles.slice(first10.length - 1)
          - count = remainingArticles.length
          each article in remainingArticles
            li(data-count=(count), class="article-item")
              i= count
              a(href=article.url)= article.title
            - count -= 1
