extends partials/layout

block vars
  - var bodyclass = 'home';

block body
  section.full-page.grid.grid--vertical-align.grid--horizontal-align
    figure.hero.content.default-wrap
      h1= locals.name
      figcaption.content--extend.py-2
        p Web Software Engineer. I build web applications. <a href="#articles" title="Check my articles">I write</a>, I <a href="#talks" title="Watch my talks">give talks</a>, and <a href="#courses" title="Watch my online courses">I've recorded courses</a> about it.
      footer.mt-2
        a(class="text-gray-400 text-2xl pr-1", href="https://twitter.com/jonalvarezz", title="Follow me in Twitter", target="_blank")
          i.fa.fa-twitter
        a(class="text-gray-400 text-2xl pr-1", href="https://github.com/jonalvarezz", title="Check my code", target="_blank")
          i.fa.fa-github

  section(id="courses", class="full-page grid grid--vertical-align grid--horizontal-align bg-gray-200")
    div(class="default-wrap content")
      h2 Online Courses
      p(class="content--extend")
        | #{"Technical video courses I've recorded with "}
        a(href="https://platzi.com/", target="__blank") Platzi
        |, the leading educational platform in Latin America.

      - var contentType = 'courses'
      include partials/cards

  section(id="talks", class="full-page grid grid--vertical-align grid--horizontal-align bg-gray-400")
    div(class="default-wrap content")
      h2 Talks
      p Talks, presentantions and workshops available online

      - var contentType = 'talks'
      include partials/cards

  section(id="articles", class="full-page grid grid--vertical-align grid--horizontal-align")
    div(class="default-wrap content content--extend")
      h2 Articles
      p Stuff I dont find easily on the web for further reference.

      - var allArticles = env.helpers.getContents(contents)
      - var allArticlesLength = allArticles.length
      - var first10 = allArticles.slice(0, 10)

      ul(class="article-list")
        - var count = 0
        each article in first10
          - var position = allArticlesLength - count
          li(data-count=(position), class="article-item")
            i= position
            a(href=article.url)= article.title
          - count += 1

      div(class="see-more")
        input(type="checkbox", id="see-all-articles")
        label(for="see-all-articles") See all articles...
        ul(class="article-list")
          - var remainingArticles = allArticles.slice(first10.length)
          - count = remainingArticles.length
          each article in remainingArticles
            li(data-count=(count), class="article-item")
              i= count
              a(href=article.url)= article.title
            - count -= 1
